.accordion-wrapper {
  display: flex;
  width: 300px;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
}

.selection-button {
  background-color: #12ff18;
  border-radius: 50px;
  font-size: 9px;
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
}

.selection-button:hover {
  background-color: black;
  color: white;
}

.accordion {
  width: 500px;
}

.item {
  background-color: #efe600;
  cursor: cell;
  margin-top: 20px;
  border-radius: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-weight {
  font-size: 20px;
  font-weight: 700;
}

.item-title {
  font-size: 25px;
  margin: 13px;
}

.data-content {
  font-size: 18px;
  font-weight: 400;
  background-color: #f4f4f4;
  line-height: 26px;
  height: auto;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}
