.home-container {
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 40vh;
}

.home-photo {
    height: 13em;
    margin: 10vh auto;
  }

  .name {
    font-size: 50px;
    color: yellow;
    margin: 40px;
  }
  

  .home-description {
    font-size: medium;
    margin: 30px 65px 30px 65px;
  }