.contact-form {
  display: flow;
}

.contact-form label {
  font-size: 25px;
  margin-bottom: 10px;
}

.contact-form input {
  width: 210px;
  border: none;
  background: white;
  height: 30px;
  border-radius: 50px;
}

.contact-form textarea {
  width: 270px;
  border: none;
  background: white;
  height: 130px;
  border-radius: 50px;
}

.submit-button {
  padding: 10px 10px;
  background-color: #000000;
  color: #fff;
  border: 2px solid rgb(0 255 248);
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
  width: 110px;
}

@media screen and (min-width: 768px) {
  .contact-form input {
    width: 240px;
  }
  .contact-form textarea {
    width: 320px;
  }
}
