.main-projects {
  min-height: 100vh;
}

.header-projects {
  height: 127px;
  padding-top: 18px;
}

.work-container {
  background-color: rgb(255, 255, 255);
}

.projects {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

.project-container {
  width: 360px;
  margin: 10px auto;
  border-bottom: 1px solid black;
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
  -webkit-text-indent: -9999px;
  text-indent: -9999px;
  z-index: 0;
  -webkit-transition: none;
  transition: none;
  -webkit-tap-highlight-color: transparent;
}

.project-logo {
  margin: 0;
  height: 10em;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: filter 0.3s;
  transition: filter 0.3s;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.62);
}

.logo-client {
  height: 80px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project-info {
  background-color: rgb(217, 217, 217);
  padding-top: 3px;
  margin-top: -32px;
  padding-bottom: 10px;
}

.project-title {
  color: #333333;
  font-size: 20px;
  padding: 0;
  /* margin-top: 14px; */
  margin-block-start: 1em;
  margin-block-end: 0;
}

.project-website {
  color: gray;
  font-size: 15px;
}
