.contact-header {
  background-color: white;

  height: 40vh;
}
.contact-photo {
  height: 179px;
  margin: 3vh auto;
  border-radius: 50%;
}

.form-title {
  font-size: 50px;
  color: yellow;
}

.form-container {
  margin-top: -126px;
  height: 70vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #2d2d2d;
}

.contact-padding {
  padding-top: 20px;
}
