.contact-header {
  background-color: white;

  height: 40vh;
}

.form-title {
  font-size: 50px;
  color: yellow;
}

.form-container {
  margin-top: -126px;
  height: 70vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: black;
}
