#root {
  margin: 0 auto;
  text-align: center;
}

.cv-photo {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.cv-photo:hover {
  filter: drop-shadow(0 0 2em #232323aa);
}
.cv-photot:hover {
  filter: drop-shadow(0 0 2em #1c1c1caa);
}


